<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.darryncampbell.locationapiexerciser"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_action_name"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".FetchAddressIntentService"
            android:exported="false" />
        <service
            android:name=".ActivityRecognitionIntentService"
            android:exported="false" />
        <service
            android:name=".GeofenceLocManIntentService"
            android:exported="false" />
        <service
            android:name=".GeofenceLocServicesIntentService"
            android:exported="false" />
        <service android:name="com.twolinessoftware.android.PlaybackService" />

        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="AIzaSyBug8C3LISEs02Ku9zqNGHq99-aF68XNms" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCYXsRdRYHT1dozFTJPn9q6b4QOmPs-mbU" />
        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="AIzaSyDl1BEaZctcjGYMADDlQsgjOy_xsLyKONg" />

        <receiver
            android:name=".GeofenceLocServicesBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".GeofenceLocManBroadcastReceiver"
            android:enabled="true"
            android:exported="true"></receiver>
    </application>

</manifest>